:root {
    /* --color1: #011936;
    --color2: #F9DC5C;
    --color3: #ED254E;
    --color4: #C2EABD;
    --color5: #465362; */

    /* --color1: #151515; https://coolors.co/151515-a63d40-e9b872-90a959-6494aa
    --color2: #A63D40;
    --color3: #E9B872;
    --color4: #90A959;
    --color5: #6494AA; */

    /* --background: #2f352e;
    --title: #F78E69;
    --text: #F1BB87;
    --link: #ABE188;
    --subtitle: #F7EF99; */

    --background: #FFFCF2;
    --background2: #CCC5B9;
    --title: #C44900;
    --text: #403D39;
    --link: #DB3069;
    --subtitle: #EB5E28;
    --shadow: #c4480031;
}

body {
    background-color: var(--background);
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
    /* #FFA630, #D7E8BA, #4DA1A9, #2E5077, #611C35 */
}

h1 {
    color: var(--title);
    text-shadow: 0 0 1px var(--title), 0 0 2px var(--title);
}

h2 {
    color: var(--title);
    text-shadow: 0 0 1px var(--title), 0 0 1px var(--title);
}

h3 {
    color: var(--text);
}

h4 {
    color: var(--text);
    font-weight: 600;
}

h5 {
    color: var(--text);
    text-shadow: 0 0 1px var(--text), 0 0 1px var(--text);
}

p,
ul,
li {
    color: var(--text)
}

button {
    background-color: var(--link);
    color: var(--background);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
    filter: drop-shadow(0 0 .2rem var(--link));
}

button:hover {
    filter: drop-shadow(0 0 1rem var(--link));
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.content-div {
    margin-top: 1em;
    padding-left: .6em;
    padding-right: .6em;

}

.active-link {
    color: var(--link);
    text-shadow: 0 0 1px var(--link), 0 0 2px var(--link);
    font-weight: bold;
}

.inactive-header-link {
    color: var(--title);
    text-decoration: none;
}

.inactive-header-link:visited {
    color: var(--title);
    text-decoration: none;
}

.inactive-header-link:hover {
    text-shadow: 0 0 1px var(--title), 0 0 8px var(--title);
}

.inactive-link {
    color: var(--link);
    text-decoration: none;
}

.inactive-link:visited {
    color: var(--link);
    text-decoration: none;
}

.inactive-link:hover {
    text-shadow: 0 0 1px var(--link), 0 0 3px var(--link);
}

.horizontal-line {
    border: 1px solid var(--subtitle);
}

.date {
    margin-top: 0;
    font-weight: 400;
    color: var(--subtitle)
}

.center-div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    text-shadow: 0 0 1px var(--link), 0 0 3px var(--text);
}

.intro-section {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow);
}

@media (max-width : 700px) {
    .intro-section {
        display: inline-block;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: var(--background2);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px var(--shadow);
    }
}

.content-section {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow);
}

.intro {
    margin-left: 3rem;
}